<h3 class="container-fluid">Welcome to User view</h3>
<div class="container">
 <nav>
     <a class="btn btn-primary" [routerLink]="['restaurent1']" routerLinkActive="active">Restaurent 1</a>
     <a class="btn btn-primary" [routerLink]="['restaurent2']" routerLinkActive="active">Restaurent 2</a>
     <a class="btn btn-primary" [routerLink]="['restaurent3']" routerLinkActive="active">Restaurent 3</a>
     <a class="btn btn-primary" [routerLink]="['restaurent4']" routerLinkActive="active">Restaurent 4</a>
 </nav>
</div>
<router-outlet></router-outlet>