body{
  margin:0;
  padding:0;
}
header{
  background: #52615f;
  margin:0;
  padding:0;
  color: white;
  border-bottom: 3px solid red;
  text-align: center;
  min-height: 100px;
}
.parallax1{
  background-image: url("../img/01.jpg");
  height: 400px;
  color: #ffffff;
  text-align: center;
  /*Create parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2{
  background-image: url("../img/02.jpg");
  height: 400px;
  color: #ffffff;
  text-align: center;
  /*Create parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3{
  background-image: url("../img/03.jpg");
  height: 400px;
  color: #ffffff;
  text-align: center;
  /*Create parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
