<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd" >
    
    <bean id="subject" class="com.vunnam.MSource.Subject">
    	<property name="name" value="Java Coffee"/>
    	<property name="id" value="10"/>
    	<property name="credits" value="8"/>
    </bean>    
    <bean id="student" class="com.vunnam.MSource.Student">
    	<property name="name" value="Vunnam"/>
    	<property name="regNo" value="11771177"/>
    	<property name="rating" value="8.6"/>
    	<property name="subject" ref="subject"/>
    </bean>
    
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    	<property name="basenames">
    		<list>
    		<value>dbConfig</value>
    		</list>
    	</property>
    </bean>
    <context:annotation-config/>
	<context:component-scan base-package="com.vunnam.MSource" />
</beans>